@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");



.title {
  color: var(--text-color-header);
  text-align: center;
  font-size: 40px;
  text-decoration: none;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--element-bg);
  width: 900px;
  height: 600px;
}
.title2 {
  h1,
  p {
    color: var(--text-color-header);
    text-align: center;
  }
}
.backHome {
  margin-top: auto;
  text-decoration: none;
  color: black;
  padding: 15px;
  background-color: var(--btn-bg-color);
  margin-bottom: 15px;
  border-radius: 10px;
  transition: 0.2s;
}

a {
  text-decoration: none;
}
.url {
  color: var(--text-color-header);
}
.btn_copy {
  border: none;
  background-color: var(--btn-bg-color);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}
.btn_copy:hover, .backHome:hover {
    background-color: var(--btn-select-color);
}
