@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
* {
	font-family: "Karla", sans-serif;
}

:root {
  --text-color-header: rgb(51, 58, 74);
  --btn-select-color: rgb(33, 67, 50);
  --active-btn-select-color: rgb(64, 95, 78);
  --body-bg: rgb(255, 255, 255);
  --element-bg: rgb(230, 230, 230);
  --btn-bg-color: rgb(47, 94, 70);
}

#root {
  height: 100vh;
  position: absolute;
  width: 100%;
  background-color: var(--body-bg);
}
