@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

:root {
  --text-color-header: rgb(51, 58, 74);
  --btn-select-color: rgb(37, 75, 56);
  --active-btn-select-color: rgb(64, 95, 78);
  --body-bg: rgb(255, 255, 255);
  --element-bg: rgb(230, 230, 230);
  --btn-bg-color: rgb(47, 94, 70);
  --error-bg:rgb(208, 207, 207);
}

#root {
  height: 100vh;
  position: absolute;
  width: 100%;
  background-color: var(--body-bg);
  overflow-x: hidden;
}
