.center_quizes {
  width: 100%;
  height: 100vh;
  display: flex;
	align-items: center;
  justify-content: center;
}
.quizes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr;
	gap: 20px;
  width: 80%;
  height: 600px;
}

.quiz {
	display: flex;
	align-items: center;
	flex-direction: column;
  text-align: center;
	width: 300px;
  max-height: 200px;
	background-color: var(--element-bg);
	border-radius: 10px;
}
.btns {
	margin-top: auto;
	margin-bottom: 15px;
}
.btns button {
	padding: 10px;
	background-color: var(--btn-bg-color);
	border: none;
  color: #ffffff;
  font-weight: 700;
	margin-right: 10px;
	border-radius: 10px;
	cursor: pointer;
  transition: 0.2s;
}
.btns button:hover {
  background-color: var(--btn-select-color);  
}
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.back {
  padding: 15px;
	background-color: var(--btn-bg-color);
	border: none;
	margin-right: 10px;
	border-radius: 10px;
	cursor: pointer;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  transition: 0.2s;
}
.back:hover {
  background-color: var(--btn-select-color);  
}
@media (max-width:600px) {
  .quiz {
    width: auto;
  }
}